---
interface Props {
    href: string;
}

const { href } = Astro.props;
---

<a href={href}><slot /></a>

<style>
    a {
        background: transparent;
        padding: 0.5rem 1rem;
        outline: none;
        border: 1px solid var(--color-text-primary);
        font-weight: bold;
    }
</style>
