<button type="submit">Get In Touch</button>

<style>
    button {
        background-color: var(--color-surface-accent);
        color: var(--color-text-inverted);
        border: none;
        border-radius: var(--rounded-sm);
        padding: 0.5rem 1rem;
        text-transform: capitalize;

        &:hover,
        &:focus-visible {
            background-color: rebeccapurple;
        }
    }
</style>
