---
import Layout from '@layouts/Layout.astro';
import PageHero from '@components/PageHero.astro';
import PersonImage from '@components/PersonImage.astro';
import ThematicBreak from '@components/ThematicBreak.astro';
import HeroImage from '../assets/lafayette.webp';
---

<Layout title="About">
    <PageHero imageUrl={HeroImage.src} title="About Us">
        <p>
            Rockwood Design, Inc. is a premier residential design firm with over
            35 years of hands-on experience in crafting distinctive and
            inspiring living spaces. We are committed to delivering precise,
            builder-friendly plans while expertly navigating complex zoning and
            conservation regulations. Our extensive industry expertise, combined
            with cutting-edge technology and a comprehensive design library,
            ensures a seamless, efficient, and enjoyable experience for every
            homeowner.
        </p>
    </PageHero>

    <section class="person-section section wrapper">
        <div class="person-image">
            <PersonImage
                name="Richard (Dick) Rockwood"
                imageUrl={HeroImage.src}
            />
        </div>
        <div class="person-text">
            <h3>Richard (Dick) Rockwood</h3>
            <p>
                Richard began his career in industrial education with 15 years
                of product development experience, designing lighting fixtures
                and home furnishings for a manufacturer of home furniture
                products. Always simultaneously designing homes, he became a
                full-time designer in 1986, designing and building homes all
                over New England and in Colorado.
            </p>
        </div>
    </section>

    <section class="section wrapper">
        <ThematicBreak />
    </section>

    <section class="person-section section wrapper">
        <div class="person-image">
            <PersonImage imageUrl={HeroImage.src} name="Phillip Baker" />
        </div>
        <div class="person-text">
            <h3>Phillip Baker</h3>
            <p>
                Phillip graduated (2011) from Wentworth Institute of Technology
                with his Masters in Architecture. His love for design and
                drawing began at a young age where he always had the dream of
                studying architecture and design homes. With the push of family
                and friends, Phillip was able to pursue a career in
                Architectural Design and learn all aspects, small and large,
                from landscape, residential, and to commercial. Combining the
                knowledge received in school and the experience gained from
                working in the field, Phillip is able to create timeless designs
                that seamlessly blend in with the existing building fabric.
            </p>
        </div>
    </section>
</Layout>

<style>
    .person-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 48px;

        @media (min-width: 1200px) {
            flex-direction: row;
            gap: 5%;
        }
    }

    @media (min-width: 1200px) {
        .person-image {
            flex-basis: 32.5%;
        }

        .person-text {
            flex-basis: 62.5%;
        }
    }
</style>
