---
import Layout from '../layouts/Layout.astro';
import ProjectSwiper from '@components/ProjectSwiper';
import SubImage from '../assets/atlantic_ave2.webp';
import LinkButton from '@components/buttons/LinkButton.astro';
import ThematicBreak from '@components/ThematicBreak.astro';
import { getFeaturedProjects } from 'src/lib';

const projects = await getFeaturedProjects();
---

<Layout title="Home">
    <ProjectSwiper projects={projects} client:load />

    <section class="subheading section wrapper">
        <div class="subheading-image">
            <div class="image-container">
                <img src={SubImage.src} alt="subheading image" />
            </div>
        </div>
        <div class="subheading-text">
            <h2>Trusted for over 35 years</h2>
            <p>
                We take pride in crafting precise, builder-friendly plans while
                expertly navigating complex zoning and conservation regulations.
                With our deep industry expertise, cutting-edge technology, and
                an extensive design library for inspiration, we ensure a
                seamless, efficient, and enjoyable experience from concept to
                completion.
            </p>
            <LinkButton href="/about">Learn More</LinkButton>
        </div>
    </section>

    <section class="section wrapper">
        <ThematicBreak />
    </section>

    <section class="subheading section wrapper">
        <div class="subheading-text">
            <h2>Our Projects</h2>
            <p>
                Explore our portfolio of architectural projects. Each point on
                the map represents a story of collaboration, innovation, and
                craftsmanship that defines our approach to building spaces that
                endure.
            </p>
            <LinkButton href="/portfolio">Explore Projects</LinkButton>
        </div>
        <div class="subheading-image">
            <iframe
                src="https://www.google.com/maps/d/embed?mid=12AERk8C8fTaJElpMLewfFXcJ-R_1XiI&ehbc=2E312F&noprof=1"
                width="600"
                height="300"></iframe>
        </div>
    </section>
</Layout>

<style>
    .subheading {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 2rem;
        text-align: center;

        .subheading-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1.5rem;
        }

        .subheading-image {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }

        .image-container {
            border-radius: var(--rounded);
            max-inline-size: 450px;

            img {
                border-radius: var(--rounded);
            }
        }
    }

    @media (min-width: 1200px) {
        .subheading {
            flex-direction: row;
            gap: 5%;
        }

        .subheading-image,
        .subheading-text {
            flex-basis: 47.5%;
        }
    }

    iframe {
        height: 100%;
        width: 100%;
        aspect-ratio: 4 / 3;
    }
</style>
