---
import Layout from '../layouts/Layout.astro';
import PrimaryCard from '@components/cards/PrimaryCard.astro';
import HeroHeading from '@components/headings/HeroHeading.astro';
import ProjectSwiper from '@components/ProjectSwiper';
import projects from '../mockProjects.json';
---

<Layout title="Home">
    <section id="hero-section" class="hero-section section">
        <ProjectSwiper projects={projects} client:load />
    </section>

    <section class="section wrapper">
        <h2>Trusted for over 35 years</h2>
        <p>
            We take pride in crafting precise, builder-friendly plans while
            expertly navigating complex zoning and conservation regulations.
            With our deep industry expertise, cutting-edge technology, and an
            extensive design library for inspiration, we ensure a seamless,
            efficient, and enjoyable experience from concept to completion.
        </p>
    </section>
</Layout>

<style>
    .hero-section {
        height: 100dvh;
    }

    .cards {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-start;
        gap: 2rem;

        img {
            border-top-left-radius: var(--rounded-lg);
            border-top-right-radius: var(--rounded-lg);
        }
    }

    .card-content {
        padding: 1.5rem;
    }
</style>
