---
interface Props {
    title: string;
    imageSrc: string;
    url: string;
}

const { title, imageSrc, url } = Astro.props;
---

<a href={`/projects/${url}`} class="thumb">
    <img src={imageSrc} />
    <div class="title">
        <h4>{title}</h4>
    </div>
</a>

<style>
    .thumb {
        border-radius: var(--rounded);
        background-color: var(--color-surface-card);
        box-shadow: var(--shadow-2xl);
    }

    img {
        width: 100%;
        height: auto;
        border-top-right-radius: var(--rounded);
        border-top-left-radius: var(--rounded);
    }

    .title {
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
