---
export const prerender = true;

import { getProjects } from '../../lib.ts';
import Layout from '@layouts/Layout.astro';
import HeroImage from '@components/HeroImage.astro';

export function getStaticPaths() {
    const projects = getProjects();
    return projects.map((project) => ({
        params: { id: project.id },
    }));
}

const { id } = Astro.params;
---

<Layout title={id.toString()}>
    <HeroImage imageUrl="https://picsum.photos/1920/1080" />
    <h1>{id}</h1>
</Layout>
